.orderTracker {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;

    .step {
        display: block;
        width: 100%;
        margin-bottom: 35px;
        text-align: center;

        .step-icon-wrap {
            display: block;
            position: relative;
            width: 100%;
            height: 80px;
            text-align: center
        }

        .step-icon-wrap::before,
        .step-icon-wrap::after {
            display: block;
            position: absolute;
            top: 50%;
            width: 50%;
            height: 3px;
            margin-top: -1px;
            background-color: #e1e7ec;
            content: '';
            z-index: 1
        }

        .step-icon-wrap::before {
            left: 0
        }

        .step-icon-wrap::after {
            right: 0
        }

        .step-icon {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
            border: 1px solid #e1e7ec;
            border-radius: 50%;
            background-color: #f5f5f5;
            color: #374250;
            font-size: 38px;
            line-height: 81px;
            z-index: 5
        }

        .step-title {
            margin-top: 16px;
            margin-bottom: 0;
            color: #606975;
            font-size: 14px;
            font-weight: 500
        }

    }

    .step:first-child .step-icon-wrap::before {
        display: none
    }

    .step:last-child .step-icon-wrap::after {
        display: none
    }

    .completed .step-icon-wrap::before,
    .completed .step-icon-wrap::after {
        background-color: #0da9ef
    }

    .completed .step-icon {
        border-color: #0da9ef;
        background-color: #0da9ef;
        color: #fff
    }

    .canceled .step-icon {
        border-color: red;
        background-color: red;
        color: #fff
    }
}