.historyList {
    // width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 10px 10px;
    .top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 1px solid black;
        padding: 10px 0px;
        gap: 5px;
    }
    .info {
        padding: 10px 0;
        border-bottom: 1px solid black;
        font-size: 16px;
        font-weight: normal;
    }
    .bottom{
        margin-top: 10px;
        font-size: 16px;
        font-weight: normal;
        display: flex;
        justify-content: space-between;
    }
    .action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 0px;
    }
}